<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
</head>
<body>
	<form method="post" action="../controller/addCheck.php">
		
		<fieldset>
			<legend> <b> ADD PRODUCT </b> </legend>
			<table>
				<tr>
					<td>Name</td>
				</tr>
				<tr>
					<td><input type="text" name="name" value=""> </td>
				</tr>
				<tr>
					<td>Buying Price</td>
				</tr>
				<tr>
					<td><input type="text" name="bPrice" value=""> </td>
				</tr>
				<tr>
					<td>Selling Price</td>
				</tr>
				<tr>
					<td><input type="text" name="sPrice" value=""> </td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="check"> Display
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="submit" value="Submit"> 
					</td>
				</tr>
			</table>
		</fieldset>

	</form>
</body>
</html>
